.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 1px 1px 2px #999;
  z-index:100;
  transition: .3s;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
 	 background-color:#fff;
	 cursor: pointer;
}

.my-float{
	margin-top:16px;
}

@media (max-width:700px){
    .float{
    width:60px;
	height:60px;
	bottom:20px;
	right:20px;
    }
}
